body{
    background-color: gray;
}

.caja-grande{
    background-color: black;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.caja-peque1{
    background-color: rgb(175, 54, 165);
    width: 50%;
    height: 100%;
    padding: 10%;
}

.caja-peque1 img{
   width: 100%;

}

.caja-peque1 h4 {
    text-align: center;
    font-weight: bold;
    font-size: 28px;

 
 }

 .caja-peque2 img{
    width: 100%;
 
 }
 
 .caja-peque2 h4 {
     text-align: center;
     font-weight: bold;
     font-size: 28px;
     
  
  }



.caja-peque2{
    background-color: rgb(5, 5, 5);
    width: 50%;
    height: 100%;
    padding: 10%;
}